@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

.satisfy{
  font-family: 'Satisfy';
  letter-spacing: 0.04rem;
  font-weight: 400;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
}

p {
  font-family: 'Work Sans', sans-serif;
}

ul, li {
  font-family: 'Outfit', sans-serif;
}
